.body-content {
    background-color: var(--secondary-color) !important;
    padding: 20px 25px;
    margin: 0 1% 0 1%;
    min-height: calc(100vh - 100px);
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
}